.orderline.hosny-meal-parent {
    border-color: rgba(211, 167, 48, 0.55);
}

.orderline.hosny-meal-component {
    display: none !important;
}

.orderline.hosny-additional-final-product {
    display: none !important;
}
